---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.vue";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import FounderCard from "../components/FounderCard.astro";
import Carousel from "../components/Carousel.vue";

import image from "../images/banner-2.jpg";

const currentPath = Astro.url.pathname;
---

<Layout title="PT. Azaku Nusantara Green">
	<Navbar client:only path={currentPath} color="text-white"/>
	<div class="flex flex-col items-center">
		<Banner image={image.src} myClass="green-fade">
			<div class="text-white flex flex-col justify-center absolute top-0 left-0 w-full h-full px-5">
				<div class="text-5xl font-bold text-center flex flex-col uppercase justify-center">
					<span>About</span>
					<span>Us</span>
				</div>
				<p class="pt-5 text-center text-lg">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur quo ipsam possimus id tempore 
				</p>
			</div>
			<div class="flex gap-2 w-screen items-center justify-center absolute bottom-0 left-0 z-[5] px-5 pb-5">
				<button class="w-full rounded-sm px-5 py-3 bg-tertiary text-black font-bold">Contact Us</button>
				<!-- <a class="w-full rounded-sm px-5 py-3 border-2 border-white text-white text-center" href="/products">Our Product</a> -->
			</div>
		</Banner>
		<div class="px-5 py-10 bg-secondary rounded-b-2xl">
			<h5 class="text-5xl font-bold text-center leading-tight mb-10 text-white">Our Little Story</h5>
			<div class="text-center text-white">
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio nobis, dolorem est recusandae deleniti natus odit possimus neque odio deserunt quas ullam itaque incidunt accusantium, obcaecati placeat, praesentium exercitationem quaerat magni officiis sunt voluptates. Ipsum id qui itaque, optio sed mollitia libero nam magni adipisci eum ducimus nisi harum dolor.
				</p>
				<button class="mt-10 px-5 py-3 rounded-sm w-full bg-tertiary text-black font-semibold">Read More</button>
			</div>
		</div>
		<div class="flex flex-col gap-8 py-5 justify-center items-center pb-10 pt-10">
			<h5 class="text-5xl font-bold text-center pb-5">Founder Team</h5>
			<Carousel client:load/>
		</div>
	</div>
	<Footer/>
</Layout>

<style scoped>
	.fade {
		background-color: rgba(0,0,0,.75);
	}
</style>