---
import coco from '../images/coco.png';
---
<div class="mt-10 py-10 relative min-h-96 about-us">
    <div class="absolute top-0 left-0 w-full h-full z-[1] hidden md:block">
            <div class="grid grid-cols-6 h-full">
                <div class="col-span-4 bg-black"></div>
                <div class="col-span-2 bg-yellow-500"></div>
            </div>
    </div>
    <div class="mx-auto md:w-5/6 grid grid-cols-8 relative z-[2] h-full">
        <div class="col-span-8 md:col-span-4 text-white bg-black px-10 py-10 md:py-0 md:px-0 ">
            <h2 class="uppercase text-4xl font-extrabold mb-3 md:mb-8 md:text-left text-center">About Us</h2>
            <div class="flex flex-col gap-3 md:text-left text-center">
                <p>In the heart of the lush Indonesian archipelago, Azaku Nusantara Green was born from a deep-rooted passion for agriculture and a commitment to cultivating sustainable, high-quality produce. Our journey began several decades ago when our founder, Haznam Amirullah, a visionary farmer, embarked on a mission to transform traditional farming practices into a thriving, eco-conscious agricultural enterprise.</p>
                <p>We started as a modest family farm, where every crop was nurtured with care, much like tending to one's own children. The land provided not only sustenance but also inspiration. It was amidst the vibrant green fields and pristine landscapes that the vision for Azaku Nusantara Green was conceived.</p>
                <p>Over the years, our dedication to innovation and the environment propelled us forward. We adopted cutting-edge farming techniques and embraced sustainable practices. Our commitment to using only the finest quality fertilizers and environmentally friendly methods became the hallmark of our success. This devotion to excellence led to the production of exceptional crops renowned for their taste, nutrition, and eco-friendliness.</p>
            </div>
        </div>
        <div class="col-span-4 hidden md:block">
            <img src={coco.src} class="h-full w-full object-contain" alt="">
        </div>
    </div>
</div>