---
import { Facebook, Instagram, Twitter } from 'astro-feather-icons'

const currentDate = new Date()
const currentYear = currentDate.getFullYear();
---

<div class="bg-black w-full">
    <div class="w-5/6 mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-10 md:gap-3 text-white py-10">
            <div class="">
                <h5 class="text-2xl font-bold pb-5 md:pb-10">ANG</h5>
                <p>We are ready to provide your food needs with the best quality, cultivated as if they were our own children. We use high-quality fertilizers to produce quality crop yields</p>
                <div class="flex gap-3 items-center pt-5">
                    <Facebook />
                    <Instagram />
                    <Twitter />
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <h5 class="text-2xl font-bold pb-5 md:pb-10">Our Product</h5>
                <div class="">
                    <div class="">Coconut</div>
                    <div class="">Nutmeg</div>
                    <div class="">Cloves</div>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <h5 class="text-2xl font-bold pb-5 md:pb-10">Navigation</h5>
                <div class="">
                    <div class="">Home</div>
                    <div class="">About Us</div>
                    <div class="">Our Product</div>
                    <div class="">Our Blog</div>
                    <div class="">Contact Us</div>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <h5 class="text-2xl font-bold pb-5 md:pb-10">Company Info</h5>
                <div class="flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                    </svg>
                    <h1>+62812-4802-7277</h1>						  
                </div>
                <div class="flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                    </svg>
                    <h1>hasanmcmissile2771@gmail.com</h1>						  
                </div>
                <div class="flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-16 h-16">
                        <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                    </svg>
                    <h1>Jl. poros Lasalimu, Lasalimu, Kec. Lasalimu Sel., Kabupaten Buton, Sulawesi Tenggara 93756</h1>						  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-sm h-10 flex items-center justify-center bg-black text-white">
    &copy; {currentYear} PT. Lasalimu Nusantara Green. All Rights Reserved
</div>