<div class="w-full h-screen md:h-[42rem] bg-yellow-500 relative banner hidden md:block header">
    <div class="text-white z-[10] h-full w-5/6 mx-auto">
        <div class="w-full h-full flex flex-col justify-center gap-8 md:gap-5 md:w-2/3">
            <h5 class=" text-center font-extrabold leading-[3.5rem] text-5xl md:text-left uppercase">Get Your Needs Starting from Our Hands.</h5>
            <p class="text-xl leading-[1.75rem] text-center md:text-left">We are ready to provide your food needs with the best quality, cultivated as if they were our own children. We use high-quality fertilizers to produce quality crop yields.</p>
            <div class="w-full">
                <button class="bg-yellow-500 px-10 py-3 text-black font-bold text-md w-full md:w-fit">Let's Bussiness</button>
            </div>
        </div>
    </div>
</div>

<style scoped>
	.banner {
		background-image: url("../images/banner-5.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
	}
</style>