---
import { useSanityClient, groq } from 'astro-sanity';
import { createImageBuilder } from 'astro-sanity';

const imageBuilder = createImageBuilder(useSanityClient())

const urlForImage = (source) => {
    return imageBuilder.image(source)
} 

const query = groq`*[_type == "products"]|order(_createdAt){
    _id, name, image
}`;

const products = await useSanityClient().fetch(query)
---


<div class="md:w-5/6 mx-auto pt-10 product">
    <h5 class="text-4xl font-extrabold text-center uppercase">Our Product</h5>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 md:gap-3 pt-10">
        {
            products.map(product => (
            <div class="aspect-square relative">
                <img src={urlForImage(product.image)} alt="" class="absolute z-[1] w-full h-full object-cover">
                <div class="relative z-[2] flex flex-col justify-end h-full p-5">
                    <h1 class="text-white text-2xl font-bold">{product.name}</h1>
                </div>
            </div>
            ))
        }
    </div>
</div>